<div class="center jumbotron">
  <h1>Welcome to the Sport Fit!</h1>

  <h2>
    This is the home page
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("sport.png", alt: "SportFit logo") %>
