<div class="container align-items-center h-60">
<div class="row">
<h1>New Ingestion</h1>
</div>
<div class="row">
<%= render 'form', ingestion: @ingestion %>
</div>
<div class="row">
<%= link_to 'Back', ingestions_path, :class => "btn btn-secondary"  %>
</div>