<nav class="navbar navbar-expand-md text-light bg-dark navbar-fixed-tops">
  <%= link_to "Foodtracker App", root_path,  class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dishes">Dishes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ingestions">Ingestions</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Profile", profile_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
       <li class="nav-item">
         <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
       </li>
      <% end %>
    </ul>
  </div>
</nav>
