<div class="container align-items-center h-60">
<div class="row">
<h1>Sign up</h1>
</div>
<div class="row">
<%= render 'form', user: @user %>
</div>
<div class="row">
<%= link_to 'Back', root_path, :class => "btn btn-secondary" %>
</div>
