:root {
  --err-exp-h2-color: #c00;
  --err-exp: #f0f0f0;
  --fff-color: #fff;
  --red: #f0f0f0;
  --EEE: #333;
  --eee: #eee;
  --OOO: #000
}

body {
  background-color: var(--body-bg-color);
  color: var(--EEE);
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: var(--eee);
  padding: 10px;
  font-size: 11px;
}

a {
  color: var(--OOO);

  &:visited {
    color: #666;
  }

  &:hover {
    color: var(--fff-color);
    background-color: var(--OOO);
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field-with-errors {
  background-color: var(--red);
  display: table;
  padding: 2px;
}

#error-explanation {
  background-color: var(--err-exp);
  border: 2px solid var(--red);
  margin-bottom: 20px;
  padding: 7px 7px 0;
  width: 450px;

  h2 {
    background-color: var(--err-exp-h2-color);
    color: var(--fff-color);
    font-size: 12px;
    font-weight: bold;
    margin: -7px -7px 0;
    padding: 5px 5px 15px;
    text-align: left;
  }

  li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
